doctype html
head
  title Real Time Chat
  link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.min.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="/components/bootstrap/dist/js/bootstrap.min.js")
body
  nav.navbar.navbar-inverse
    .container
      .navbar-header
      a.navbar-brand(href="/") ChetChat